*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbar{
    width: 100vw;
    height: 10vh;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
 
}
.logo{
    padding-left: 60px;
}
.logo img{
    border-radius: 100%;
}
.menu_List{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex: 1;
}
li a{
    text-decoration: none;
    color: rgb(1, 1, 7);
    font-size: 1.2rem;
}
li{
    list-style: none;
}
input{
    padding: 2px 6px;
    width: 150px;
}
input:focus{
    outline: none;
}
button{
    padding: 2px 6px;
    cursor: pointer;
}